/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

storage/app/private/images
storage/app/public/images

!storage/app/private/temp
!storage/app/private/1.png
!storage/app/public/static
